
  <p>
    <strong>Nombre:</strong>
    <%= pieza.nombre %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= pieza.cantidad %>
  </p>

<p>
  <%= link_to 'Eliminar Pieza', [pieza.car, pieza],
               method: :delete,
               data: { confirm: 'Seguro que deseas eliminar la pieza?' } %>
</p>