<p>
  <strong>Marca:</strong>
  <%= @car.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @car.modelo %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @car.lat %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @car.long %>
</p>